

<!-- 

	********

			<input style="display:none"  type="file" (change)="onFileChanged($event)" #fileInput accept="image/*" capture="environment">    
		<input  type="button" class="btn btn-danger" value="Registro biométrico" (click)="fileInput.click()" />
-->


<app-navbar></app-navbar>
 <ng-template #customLoadingTemplate></ng-template>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">




<div class="container">
  <div class="row">

  	<!-- Primer Select  -->
    <div class="col text-center" style="margin-top:50px;">
    		<h2><strong>Ingresa un segundo registro </strong></h2>
    </div>    
	<hr>
	 <div class="w-100"></div>
     <!-- Primer Select  -->

	<!-- Primer Select  -->
    <div *ngIf="loading" class="col text-center" style="margin-top:50px;">
    	<h3>{{cargando}} %</h3>
    </div>    
	<hr>
	 <div class="w-100"></div>
     <!-- Primer Select  -->


    <div class="col tex-center">
    	<hr>
    	<input style="display:none"  type="file" (change)="onFileChanged($event)" #fileInput accept="image/*" capture="environment">    
		<button type="button" class="btn btn-warning btn-block" value="Ingresa el registro" (click)="fileInput.click()" >
			<i class="fas fa-camera"></i>  Ingresar Registro
		</button>
	</div>


    
  </div>
</div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> 