<nav class="navbar navbar-dark" style="background-color: #1976d2; display: flex;  ">
    
    <a class="navbar-brand" [routerLink]="['/Home']" style="flex:75%"  >
      <img src="./assets/img/logov11.png" style="margin-bottom:-30px;margin-top:-30px"  width="100px" alt="">      
    </a>


    <span  data-toggle="modal" data-target="#exampleModal" (click)="actualizarTurnosOffline()" style=" font-size: 1.2em; color: white; margin-left: auto; flex:10%">
    	    <i class="fas fa-exclamation-circle"></i>
	</span>


    <span (click)="logout()" style="font-size: 1.2em; color: white; margin-left: auto; flex:5%">
    	<i class="fas fa-sign-out-alt"></i>
	</span>
    
</nav>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Turnos Pendientes Por Sincronizar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
		    

           <div class="list-group">
            <ng-container *ngFor="let item of turnosPorSincronizar; let i = index" >
              <a *ngIf="item.length > 0" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 *ngIf="item.length > 0" class="mb-1">Marcajes de {{item[0].nombre_trabajador }}</h5>              
                </div>

                <p *ngFor="let  list of  turnosPorSincronizar[i]; let o = index" class="mb-1">
                Marcó {{ list.movimiento }}  a las {{list.horaMarcaje}}  el {{list.fecha}}.
                <button (click)="enviarABbdd(list, o)" class="btn btn-outline-secondary btn-sm" >Sincronizar</button>
              </p><hr>
         

              </a>
               </ng-container>
          </div>











      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>