<app-navbar></app-navbar>


<body>
 <div class="container text-center p-3">
	  <div class="row justify-content-center">

            <div class="col-sm-12">
                <h4 style="font-family: 'Dosis', sans-serif !important;">TOMA LA FOTO DE RESPALDO </h4>&nbsp;<mat-icon  (click)="TurnoOffline()" >help outline</mat-icon>
                <!-- (click)="TurnoOffline()" -->
            </div>
      </div>



            <div class="row justify-content-center">
                <div class="col-sm-12" *ngIf="ConexionInternet">
                      <h3>
                            <small *ngIf="ConFotografiaContraste" class="text-muted">
                            Al presionar el botón se abrirá la cámara. Te recomendamos 
                             tomar la foto muy claramente, sin exceso de luz ni zona con muchas sombras.
                             <hr>
                             <br>
                             <h5>Nombre:  {{ informacionPersonalTrabajador['nombre'] + " " + informacionPersonalTrabajador['apellido'] }}</h5>
                             <br>
                             <h5>Rut:  {{ informacionPersonalTrabajador['rut']  }}</h5>
                            </small>

                            <small *ngIf="!ConFotografiaContraste"  class="text-muted"  style="font-family: 'Dosis', sans-serif !important; color:red !important"  >
                              NO TIENES FOTOGRAFÍA PARA REALIZAR VALIDACIÓN BIOMÉTRICA.<BR> ¡ENVÍA TU FOTO!
                            </small>                            
                       </h3>
                </div>
            </div>
            <br>




		<div *ngIf="ConexionInternet" class="container">


      <div class="row justify-content-center">
                <div class="col-sm-12 text-center" *ngIf="carnet_validacion?.carnet_validacion !== 1">
                    


                      <p *ngIf="BoleanoTomaRespaldo && !boleanoTurnoExtra">
                        Autenticación Biométrica
                      </p>


                      <app-toma-fotografica (onButonPresionado)="AlPresionarBoton($event)" *ngIf=" BoleanoTomaRespaldo && !boleanoTurnoExtraEnCurso" (onFotoTomada)="onFileChanged($event)"></app-toma-fotografica>
                      

                      <!--
                        *******************                                                      ********************************
                        *******************     MARCAJE DE TURNO NORMAL, BOTON ENVÍO FOTO        ******************************** -->    

                  <!--   <input style="display:none"  type="file"  #fileInput accept="image/*" capture="environment">    
                      <input *ngIf="BoleanoTomaRespaldo && !boleanoTurnoExtraEnCurso" type="button" class="btn btn-danger" value="Registro biométrico" (click)="onFileChanged()" />-->
                        <!--
                        *******************     MARCAJE DE TURNO NORMAL, BOTON ENVÍO FOTO   ********************************
                        *******************                                                 ******************************** -->       



                   
                          <mat-spinner style="margin:0 auto;" mode="indeterminate"  *ngIf="boleanoLoader"></mat-spinner>
                   

                        <h5 class="mb-1"> {{ cargando | percent}}</h5>
                        <br>

                        <button *ngIf="boleanoBoton" (click)="analisis(true)" class="btn btn-success" >Marcar Turno</button>
              


                </div>
                <div  class="col-sm-12 text-center" *ngIf="carnet_validacion?.carnet_validacion === 1">
                                                        <!-- app.component.html -->


                        <app-toma-foto-carnet-respaldo *ngIf="FotoCarnetTomaRespaldoBoolean2" (onFotoTomada)="onFileChanged_($event)" [tomarFotoInput]="test_"></app-toma-foto-carnet-respaldo>
    
                        <zxing-scanner *ngIf="!FotoCarnetTomaRespaldoBoolean1"  #carnetDom
                            (scanSuccess)="carnet_funcion($event)"
                             [(device)]="device"
                             (camerasFound)="camerasFoundHandler($event)"
                        ></zxing-scanner> 

                </div>
      </div>



    		
		</div>


        <!--
          *******************                              ********************************
          *******************     MARCAJE DE irHitos       ******************************** -->    
<div *ngIf="boleanoHitos" class="text-center" style="margin-bottom:50px">
  <hr>
  <button (click)="irHitos()" class="btn btn-success">Hitos</button>
</div>
          <!--
          *******************     MARCAJE DE irHitos         ********************************
          *******************                                ******************************** -->   



<div *ngIf="datosMarcaje?.content['TurnoExtraEnCurso'] === 1" class="text-center" style="margin-bottom:50px">
  <hr>
 <h3>{{avisoTurnoExtra}}</h3>
</div>





    <!--
      *******************                                                      ********************************
      *******************     MARCAJE DE TURNO EXTRA, BOTON ENVÍO FOTO        ******************************** -->    
<div *ngIf="boleanoTurnoExtra" class="text-center" style="margin-bottom:50px">
  <hr>
  <button (click)="irTurnosExtras()" class="btn btn-warning btn-block">Marcaje turno extra</button>
</div>
      <!--
      *******************     MARCAJE DE TURNO EXTRA, BOTON ENVÍO FOTO   ********************************
      *******************                                                 ******************************** -->   






		  <ul class="list-group">
      
            <li *ngIf=" datosMarcaje?.content['Entrada'] !== 0" class="list-group-item text-right"><span class="pull-left"><strong>Entrada </strong></span>{{ datosMarcaje?.content['Entrada']}}</li>
             <li *ngIf=" datosMarcaje?.content['Entrada'] === 0" class="list-group-item text-right"><span class="pull-left"><strong>No han habido marcajes hoy de turnos establecidos. </strong></span></li>
            
            <li *ngIf=" datosMarcaje?.content['Entrada'] !== 0 && datosMarcaje?.content['Salida'] !== 0" class="list-group-item text-right"><span class="pull-left">
            	<strong>Salida</strong></span> 
            	{{ datosMarcaje?.content['Salida']}}
            </li>
              <li *ngIf=" datosMarcaje?.content['Entrada'] !== 0 && datosMarcaje?.content['Salida'] === 0" class="list-group-item text-right"><span class="pull-left"><strong>Salida Pendiente</strong></span> 
          </li>

      </ul> 



       <ul class="list-group">
      
            <li *ngIf=" datosMarcaje?.content['EntradaTurnoExtra'] !== 0" class="list-group-item text-right"><span class="pull-left"><strong>Entrada turno extra: </strong></span>{{ datosMarcaje?.content['EntradaTurnoExtra']}}</li>
             <li *ngIf=" datosMarcaje?.content['EntradaTurnoExtra'] === 0" class="list-group-item text-right"><span class="pull-left"><strong>No han habido turnos extras el día de hoy.</strong></span></li>
            
            <li *ngIf=" datosMarcaje?.content['EntradaTurnoExtra'] !== 0 && datosMarcaje?.content['SalidaTurnoExtra'] !== 0" class="list-group-item text-right"><span class="pull-left">
              <strong>Salida turno extra: </strong></span> 
              {{ datosMarcaje?.content['SalidaTurnoExtra']}}
            </li>
              <li *ngIf=" datosMarcaje?.content['EntradaTurnoExtra'] !== 0 && datosMarcaje?.content['SalidaTurnoExtra'] === 0" class="list-group-item text-right"><span class="pull-left"><strong>Salida Pendiente</strong></span> 
          </li>

      </ul> 
              

              <!--  -->







              <ngx-loading style="height:2000px !important;" [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop:'true' }" [template]="customLoadingTemplate"></ngx-loading> 
              <ng-template  style="height:2000px !important;"  #customLoadingTemplate></ng-template>
</div>
</body>